.root{
    -fx-background-image: url(background.jpg);
    -fx-background-position: center;
    -fx-background-size: cover;
}

.titleImage{
     -fx-image: url(title.png);
     -fx-position: center;
     -fx-size: cover;
}

